{% extends 'base.html.twig' %}

{% block title %}ListEat admin{% endblock %}

{% block body %}


</div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">

    <h4><span class="admin">Modifier</span> {{user.email}}</h4>

    {{ include('backend/admin_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="back" href="{{ path('backend_admin_user_list') }}">retour</a>

{% endblock %}
