@import 'src/styles/index.scss';

.login-container {
  width: 90%;
  max-width: 600px;
  margin: 0px auto !important;
  padding: 50px 0; 
  text-align: center;
  line-height: 1.2em;

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto 1em auto;
  }
}
