@import 'src/styles/index.scss';

.login-container {
  max-width: 700px;
  width: 90%;
  margin: 0px auto !important;
  padding: 50px 0; 
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto 1em auto;
  }
}
