@import 'src/styles/index.scss';

form {
  display: flex;
  flex-direction: column; 
  // margin-bottom: 50px !important;

  .bottom-links {
    font-size: 1em;
    margin-top: 1.5em;
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      color: $dark-color;
    }

    &:last-of-type {
      margin-top: 0px;
    }
  }

  button {
    margin-top: .5em !important;
  }

  input {
    width: 60%;
    margin: .5em auto;
    padding: 1em 1em;
    border-radius: 5px;
    border: 1px solid $light-color;
    color: $dark-color;
    font-size: 1em;
  }

  #login-error {
    color: $warning-color;
    background-color: $warning-background;
    border-radius: 5px;
    width: 100%;
    padding: 1em;
    margin: .5em auto;
  }
}
