@import 'src/styles/index.scss';

form {
  display: flex;
  flex-direction: column; 

  .bottom-links {
    font-size: 1em;
    margin: 1em;
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      color: $dark-color;
    }
  }

  input {
    width: 60%;
    min-width: 300px;
    margin: .5em auto;
    padding: 1em 1em;
    border-radius: 5px;
    border: 1px solid $light-color;
    color: $dark-color;
    font-size: 1em;
  }
}
