{% extends 'base.html.twig' %}

{% block title %}ListEat admin{% endblock %}

{% block body %}
    <h1><span class="admin">Edit User<span></h1>


</div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">


    <h1>Modifier {{user.email}}</h1>

    {{ include('backend/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('backend_user_list') }}">retour</a>

{% endblock %}
