@import 'src/styles/_vars.scss';

.faq {
  width: 100%;
  margin: 5em auto;
  margin-bottom: 1em;
  padding: 0 30px;

  h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
  }

  &__choice {
    text-align: center;
    margin-top: 20px;
  }

  &__links {
    color: $alt-color;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    
    .faq__link {
      padding: 10px;
      color: black;
      background-color: $light-color;

      &:first-of-type {
        border-radius: 5px 0px 0px 5px;
      }

      &:last-of-type {
        border-radius: 0px 5px 5px 0px;
      }

      &.active {
        background-color: $primary-color;
        color: #fff;
      }
    }

    .faq__link:hover {
      cursor: pointer;
      color: #fff;
      background-color: $primary-color;
    }
  }

  &__container {
    width: 95%;
    min-width: 250px;
    max-width: 800px;
    margin: 0 auto;

    .faq__content {
      margin: 40px 0;
      // padding-right: 40%;

      .faq__content__question {
        font-weight: bold;
        line-height: 1.3em;
      }

      .faq__content__answer {
        margin-top: 5px;
        line-height: 1.2em;
      }
    }
  }

  // &__content:nth-child(2n+0) {
  //   margin: 20px 0;
  //   text-align: right;
  //   padding-right: 0;
  //   padding-left: 40%;

  //   .faq__content__question {
  //     font-weight: bold;
  //   }
  // }
}
