$primary-color: #ff8400;
$alt-color: #1A73E8;
$light-color: #C9C9C9;
$dark-color: #303030;
$validate-color: #5f9c4c;

// Fonts
$title-font: 'Open Sans';
$text-font: 'Quicksand';

// Viewport breakpoints
$mobile-breakpoint: 768px;
$tablet-pixel: 980px;

// home
$sloganWidth: 75%;
$partnerWidth: 25%;
$articleWidth: 30%;
$borderColor: grey;

