@import 'src/styles/_vars.scss';

.home {
  margin: 0;

  p {
    line-height: 1.2em !important;
  }

  // top
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    height: 50vh;
    min-height: 300px;
    max-height: 600px;
    width: 100%;

    a {
      &:hover {
        color: $dark-color;
      }
    }

    #desktop-slogan-description {
      display: none;
    }

    #layer-opacity {
      height: 100%;
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: rgb(0,0,0,.2);
    }


  
    &__slogan {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        bottom: 2rem;
        text-align: left;
        color: white;
        padding: 1.25rem;
        padding-top: 0;
        width: 90%;
        font-size: 2em;
        font-weight: bold;
        text-shadow: $dark-color 0px 0px 10px;        
      }

      button {
        width: auto;
      }
    }
  
    &__partner {
      display: none;
    }
  }

  // argument
  &__argument {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;

    #arguments-title
    {
      font-size: 1.8em;
      font-weight: bold;
      text-align: center;
      line-height: 1.2em;
      margin: 20px;
    }

    &__article {
      width: $articleWidth;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px auto;
      padding: 10px;
      width: 80%;

      h1 {
        text-transform: uppercase;
        display: inline-block;
        font-size: 1.25em;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: $primary-color;
        margin-bottom: 1em;
        line-height: 1.2em;
      }

      p {
        text-align: left;
      }
    }
  }

  // info
  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    h2 {
      font-weight: bold;
      font-size: 1.3em;
      margin-bottom: .5em;
      color: $dark-color;
    }

    .desktop-parallax {
      display: none ;
    }

    img {
      width: 100%;
      background-size: cover;
      background-position: center;
      margin-right: 10px;
    }

    &__content {
      width: 100%;
      padding: 20px;
      background-color: $light-color;

      ol {
        list-style: none;
        counter-reset: counter;
        margin: 20px 20px;
        line-height: 1.2em;
      }
      ol li {
        counter-increment: counter;
        margin-bottom: .5em;
      }
      ol li::before {
        content: counter(counter) ". ";
        color:$primary-color;
        font-weight: bold;
      }    


      &__detail {
        padding: 20px 0;

        p.argument {
          text-decoration: italic !important;
        }
      }
    }
  }

  // trust
  &__trust {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 50px auto;

    h2 {
      color: $dark-color;
      font-weight: bold;
      font-size: 1.3em;
      margin-bottom: .5em;
    }

    .home__trust__statement {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;


      .statement {
        margin-bottom: 30px !important;

        p {
          margin-bottom: .5em;
          font-style: italic;

          &::before {
            content: '“';
            color: $primary-color;
            position: relative;
            top: 30px;
            font-size: 6em;
            font-family:'Times new roman';
            margin-right: .1em;
          }
        }

        .author {
          margin-right: .4em;
          font-weight: bold;
          text-align: right;
          font-size: .9em;
        }

        .company {
          font-style: italic;
          font-size: .9em;
          text-align: right;
        }
  
  
      }
    }

    .home__trust__partner {

      .clients-logo-list {
        margin: 40px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        
        img {
          width: 30%;
          height: 30%;
        }
      }
    }
  }



}

@media (min-width: $mobile-breakpoint) {
  .home {
    &__top {
      background-repeat: no-repeat !important;
      background-size: cover;
      background-position: bottom;
      background-attachment: fixed !important;

        &__partner {
          display: flex !important;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30%;
          min-width: 350px;
          height: 100%;
          background-color: $primary-color;
          padding: 20px 10px;
          text-align: center;
          color: #fff;
          line-height: 1.3em;
          font-size: 1.2em;
          padding: 20px;
        
          .partner-argument {
            font-size: 1.2em;
            font-weight: bold;
            margin-top: 10px;
          }

          &__link {
              text-decoration: underline;

              &.logged {
                margin-top: 20px !important;
              }
          }

          &__subscribe-button {
            color: $primary-color !important;
            background: #fff !important;
            margin: 20px 0 !important;
        
            &:hover {
              background-color: $dark-color!important;
              color: $primary-color!important;
            }
          }
        }

        .button-alt.mobile{
          display: none !important;
        }
        
        #layer-opacity {
        width: 70%!important;

          .home__top__slogan{
            width: 70%;
            p {
            text-align: center !important;
            padding-bottom: 0;
            }

            #desktop-slogan-description{
              display: inline !important;
              padding-top: 10px;
              font-size: 1em !important;
              font-weight: normal;
            }

            a {
              text-decoration: underline;
            }
          }
        }

      &__link {
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          color: $dark-color!important;
        }
      }
    }

    &__argument {
      flex-direction: column !important;
      justify-content: space-between;
      align-content: flex-end !important;
      width: 90%;
      max-width: 1300px;
      margin: 80px auto !important;
      // margin-bottom: 50px;

      #arguments-title {
        padding-bottom: 60px;
        color: $dark-color;
      }

      .content {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-content: flex-end !important;

      }
      .content &__article {
        width: $articleWidth;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 !important;
        padding: 0 !important;
        width: 30%;

        h1 {
          text-align: left;
          text-transform: uppercase;
          font-size: 1.25em;
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: $primary-color;
          margin-bottom: 1em;
          color: $dark-color;
        }

        p {
          text-align: left;
          line-height: 1.1em;
        }
      }
    }

     // info
    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: center !important;
      flex-direction: row !important;
      width: 90%;
      max-width: 1300px;
      margin: 190px auto;
      padding-left: 6%;

      .mobile-parallax {
        display: none !important;
      }

      .desktop-parallax {
        display: block !important;
      }

      h2 {
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: .5em;
      }

      &__image {
        // height: 100% !important;
        // width: 50%;
        // max-width: 200px !important;
        // position: relative !important;
        // left: 10% !important;
        // background-size: cover;
        // background-position: center;
        
        // margin-right:-100px !important;
      }

      &__content {
        display: flex;
        // position: relative;
        // left: -30%;
        flex-direction: column;
        justify-content: center;
        max-width: 600px !important;
        // min-width: 600px !important;
        right: 50px;
        padding: 20px;
        margin-left: -330px;
        background-color: $light-color;
        box-shadow: 0px 0px 20px rgb(0,0,0,.2);
        // border: 1px $primary-color solid;
        border-radius: 5px;
        z-index: 2;
        
      }
    }

      // trust
    &__trust {
      flex-direction: row !important;
      justify-content: space-between;
      width: 90%;
      max-width: 1300px;

      h2 {
        color: $dark-color;
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: .5em;
      }

      .home__trust__statement {
        margin-bottom: 40px;
        flex-direction: column;
        width: 48%;


        .statement {
          margin-bottom: 30px !important;

          p {
            margin-bottom: .5em;
            font-size: .9em;
            font-style: italic;

            &::before {
              content: '“';
              color: $primary-color;
              position: relative;
              top: 30px;
              font-size: 6em;
              font-family:'Times new roman';
              margin-right: .1em;
            }
          }

          .author {
            margin-right: .4em;
            font-weight: bold;
            text-align: right;
            font-size: .9em;
          }

          .company {
            font-style: italic;
            font-size: .9em;
            text-align: right;
          }
    
    
        }
      }

      .home__trust__partner {
        width: 48%;

        .clients-logo-list {
          margin: 20px auto;
          justify-content: flex-start;
  
          img {
            width: 100px;
            margin: 0 10px;
          }
        }
  
      }
    }
  }
}

