@import 'src/styles/_vars.scss';

.home {
  margin: 0;

  #desktop-slogan-description {
    display: none;
  }

  a {
    text-decoration: underline;
  }

  h2 {
    font-size: 1.125em;
    font-weight: bold;
  }

  // top
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;


    #layer-opacity {
      height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: rgb(0,0,0,.2);
    }


  
    &__slogan {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        bottom: 2rem;
        text-align: left;
        color: white;
        padding: 1.25rem;
        width: 90%;
        font-size: 2em;
        font-weight: bold;
        text-shadow: $dark-color 0px 0px 10px;
      }
    }
  
    &__partner {
      display: none;
    }
  }

  // argument
  &__argument {
    display: flex;
    justify-content: space-between;

    &__article {
      width: $articleWidth;
      margin: 40px 0;
      padding: 20px;
      border: 1px solid $borderColor;

      h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 1.25em;
        font-weight: bold;
      }

      p {
        text-align: center;
      }
    }
  }

  // info
  &__info {
    display: flex;
    justify-content: space-between;

    &__image {
      width: 30%;
      border: 1px solid $borderColor;
      margin-right: 10px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &__content {
      width: 70%;
      padding: 0 10px;
      border: 1px solid $borderColor;

      &__detail {
        padding: 20px 0;
      }
    }
  }

  // trust
  &__trust {
    display: flex;
    margin-top: 40px;
    border-top: 1px solid $borderColor;
    padding-top: 10px;
  }

}

@media (min-width: $mobile-breakpoint) {
  .home {
    &__top {
    
    }

    .button-alt.mobile{
      display: none !important;
    }


    #layer-opacity {
    width: 70%!important;

      .home__top__slogan{
        width: 70%;
        p {
        text-align: center !important;
        padding-bottom: 0;
        }

        #desktop-slogan-description{
          display: inline !important;
          padding-top: 10px;
          font-size: 1em !important;
          font-weight: normal;
        }

        a {
          text-decoration: underline;
        }
      }
    }

&__top__partner {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: $primary-color;
  padding: 20px 10px;
  text-align: center;
  color: #fff;
  line-height: 1.3em;
  font-size: 1.2em;
  padding: 20px;

  .partner-argument {
    font-size: 1.2em;
    font-weight: bold;
  }




  &__subscribe-button {
    font-weight: bold;
    color: $primary-color !important;
    background: #fff !important;

    &:hover {
      background-color: $dark-color!important;
      color: $primary-color!important;
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $dark-color!important;
    }
  }
}
  }
}
