@import 'src/styles/index.scss';

.form-container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto !important;
  text-align: center;
  height: 50vh;
  padding-top: 10vh; 

  p {
    margin-bottom: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto 2em auto;
  }

  button {
    margin: 1em auto;
  }

  #password-forgotten-confirmation-message {
    color: #000;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 1em;
    border: greenyellow 2px solid;
    margin: 1em auto;

    a {
      text-decoration: underline;
    }
  }

  #password-forgotten-error-message {
    color: #fff;
    background-color: rgb(221, 47, 99);
    border-radius: 5px;
    padding: 1em;
    border: rgb(221, 47, 99) 2px solid;
    margin: 1em auto;
  }
}
