@import 'src/styles/index.scss';

.form-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto !important;
  text-align: center;
  padding-top: 10vh; 

  p {
    margin-bottom: 10px;
  }

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto 2em auto;
  }

  button {
    margin: 1em auto;
  }

  #password-forgotten-confirmation-message {
    color: #000;
    background-color: $success-background;
    border-radius: 5px;
    padding: 1em;
    border: $success-background 2px solid;
    margin: 0 auto 2em;
    width: 100%;

    a {
      text-decoration: underline;
    }
  }

  #password-forgotten-error-message {
    color: #fff;
    background-color: $warning-background;
    border-radius: 5px;
    padding: 1em;
    border: $warning-color 2px solid;
    margin: 0 auto 2em;
    width: 100%;
  }

  .button-alt {
    margin-bottom: 2em;
  }
}
