<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Forgotten-password{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            {{name}},<br>
            <br>
            Voici votre code de sécurité afin de définir votre nouveau mot de passe : {{token}}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>