<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Forgotten-password-confirmation{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>
            {{name}},<br>
            <br>
            Votre mot de passe a bien été changé. <br>
            <br>
            Si vous n'êtes pas à l'origine de ce changement, veuillez nous contacter.
        </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>