<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bientôt votre ticket{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
                <p>{{name}},<br>
                    Vous êtes inscrit sur la liste d'attente du restaurant {{ restaurantName }}.<br>
                    Votre numéro de ticket est le : {{ ticketId }}<br>
                    Votre tour est imminent, veuillez vous présenter au restaurant :
                    {{ restaurantName }}<br>
                    Bon appétit !
                </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
