@import 'src/styles/index.scss';


footer {
  padding-top: 50px !important;
  font-size: .9em;
  width: 100% !important;
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;

  #footer-first, #contact-block, #contact-block .contact-infos span {
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $light-color;
  }

  #footer-first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em 2em;
    text-align: right;
    line-height: 2em;

    nav ul li {
      margin: 0 auto !important;
      text-align: center !important;
    }

    .nav, #contact-block {
      padding: 1em 3em;
    }

    #contact-block {
      display: flex;
      flex-direction: column;

      .contact-infos span {
        display: block;
        text-align: center;
        margin: 0 auto;

      }

      .title {
        font-weight: bold;
      }
    }

    #logo {
      width: 150px;
    }

  }

  #footer-last {
    padding: 1em 2em;
    background-color: $dark-color;
    color: #fff;
    text-align: center;
  }
}


@media (min-width: $mobile-breakpoint) {


  footer {
    background-color: $light-color;
    font-size: .9em !important;
    width: 100%;
    margin-top: 50px !important;
  
    #footer-first {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      max-width: 900px;
      padding: 1em 2em;
      text-align: right;
      line-height: 2em;
  
      .nav, #contact-block {
        padding: 1em 3em;
        flex-direction: column !important;
      }

      nav ul li {
        text-align: right !important;
      
      }
  
      #contact-block {
        display: flex;
        flex-direction: column;
  
        .contact-infos span {
          display: block;
          text-align: left;
          margin: 0 auto !important;
  
        }
  
        .title {
          font-weight: bold;
        }
      }
  
      #logo {
        width: 150px;
      }
  
    }
  
    #footer-last {
      padding: 1em 2em;
      background-color: $dark-color;
      color: #fff;
      text-align: center;
    }
  }


}
