@import 'src/styles/index.scss';


footer {
  background-color: $light-color;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  // clear: both;
  // position: relative;
  // height: 200px;
  // margin-top: -200px;

  #footer-first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em 2em;
    text-align: right;
    line-height: 2em;

    .nav, #contact-block {
      padding: 1em 3em;
    }

    #contact-block {
      display: flex;
      flex-direction: column;

      .contact-infos span {
        display: block;
        text-align: left;
      }

      .title {
        font-weight: bold;
      }
    }

    #logo {
      width: 150px;
    }

  }

  #footer-last {
    padding: 1em 2em;
    background-color: $dark-color;
    color: #fff;
    text-align: center;
  }
}


@media (max-width: $mobile-breakpoint) {
  #footer-first, #contact-block, #contact-block .contact-infos span {
    flex-direction: column !important;
    text-align: center !important;
    align-items: center !important;


  }

  footer {
    position: relative !important;
  }

}
