@import 'src/styles/index.scss';

.profile-container {
  display: flex;
  margin: 10px;
  
  p {
    font-weight: bold;
  }

  .infos-container {
    width: 70%;
    border: 1px solid grey;
    margin-right: 15px;
    padding: 1em;

    .confirmation {
      font-size: .9em;
      background-color: greenyellow;
      border: greenyellow 2px solid;
      padding: 1em;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .error {
      color: white;
      font-size: .9em;
      background-color: red;
      border: red 2px solid;
      padding: 1em;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .postcode__city {
      display: flex;
    }
  }

  .actual-pass {
    display: flex;
    align-items: center;

    &-info {
      font-size: 0.75em;
      margin-right: 10px;
    }
  }

  .save-button {
    display: block;
    margin: 10px auto 0;
  }

  .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    padding: 2em;
    text-align: center;
    background-color: $primary-color;
    color: #fff;

    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 1.5em;
      margin: 0 !important;
    }

    p {
      font-size: 2em;
      margin: .5em auto;
    }

    i {
      font-size: 4em;
    } 



    .download-button {
      display: inline-block;
      margin: 20px auto 10px;
    }
  }
}
