@import 'src/styles/index.scss';

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100% !important;
  justify-content: space-between;
  margin: 0 auto;
  
  p {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  .infos-container {
    width: 100%;
    // border: 1px solid grey;
    background-color: $light-color;
    padding: 1em;
    order: 2 !important;
    margin-top: 10px;


    input {
      margin-bottom: 20px;
    }

    .confirmation {
      font-size: .9em;
      background-color: $success-background;
      padding: 1em;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .error {
      color: white;
      font-size: .9em;
      background-color: red;
      border: red 2px solid;
      padding: 1em;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 10px;
    }

    .postcode__city {
      display: flex;
    }
  }

  .actual-pass {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-info {
      font-size: 0.75em;
      margin-right: 10px;
      display: block !important;
    }
  }

  .save-button {
    display: block;
    margin: 10px auto 0;
  }

  .qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 2em;
    text-align: center;
    background-color: $primary-color;
    color: #fff;
    order: 1 ;

    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 1.5em;
      margin: 0 !important;
    }

    p {
      font-size: 2em;
      margin: .5em auto;
    }

    i {
      font-size: 4em;
    } 



    .download-button {
      display: inline-block;
      margin: 20px auto 10px;
    }
  }

  .actual-pass-info {
    display: block !important;
  }

}

@media (min-width: $mobile-breakpoint) { 

  .profile-container {
    flex-direction: row;
    padding: 10px;
    width: 100% !important;
    justify-content: space-between;
  }

  .infos-container {
    width: 70% !important;
    // border: 1px solid grey;
    background-color: $light-color;
    padding: 1em;
    order: 1 !important;
    margin-top: 0px !important;
    margin-right: 10px;
  }

  .qr-container {
    width: 30% !important;
    order: 2 !important;
  }

  .actual-pass-info {
    display: block !important;
    width: 100%;
  }

}
