@import 'src/styles/_vars.scss';

.ticket-form--container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em 0;

  .service-off {
    width: 100%;
    margin: 5em auto;
    margin-bottom: 1em;
    padding: 0 30px;
  }

  .ticket-submit {
    margin-top: 1em;
  }

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto .2em auto;
    color: $primary-color;
    width: 30%;
    min-width: 300px;
    line-height: 1.2em;
    // font-family: 
  }

  h2 {
    margin-bottom: 2em;
  }

  .ticket-form {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;

    .cover-error {
      background-color: red;
      margin: .5em auto;
      padding: 1em;
      border-radius: 5px;
      color: white;
      width: 60%;
    }

    .warning {
      background-color: $warning-background;
      padding: 1em;
      font-size: .9em;
      border-radius: 5px;
    }
  }
}


