

.legal {
  min-width: 250px;
  max-width: 800px;
  width: 60%;

  margin: 5em auto 10em;

  h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 2em;
  }

  &__content {
    margin: 20px 0;

    h2 {
      font-size: 1.125em;
      font-weight: bold;
    }

    p {
      margin: 10px 0 20px;
      text-align: justify;
    }
  }
}
