@import 'src/styles/_vars.scss';

#team-container {
  width: 90%;
  max-width: 1200px;
  margin: 1em auto 5em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.team-member:first-of-type {
  #avatar {
  background-position: center -10px !important;
  }
}

.team-member:nth-of-type(3) {
  #avatar {
  background-position: center -20px !important;
  }
}

#hi-there {
  width: 80% !important;
  min-width: 250px;
  max-width: 700px;
  text-align: center;
  margin: 2em auto 5em auto !important;

  span {
    font-size: 1em;
    line-height: 1.3em;
    display: block;
  }

  strong {
    font-weight: bold;
  }
}




