@import 'src/styles/index.scss';

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  .signup-wrapper {
    text-align: center;
    width: 30%;
    min-width: 300px;
    margin: 20px auto 0;
  }

  span {
    margin-top: 2em;
    margin-bottom: 1em !important;
  }

  button {
    margin: 2em auto!important;
  }

  #password-error {
    background-color: rgba(255, 0, 0, 0.726);
    padding: .5em;
    border-radius: 0px 0px 5px 5px;
    color: #000;
    margin-top: -10px;
    font-size: .9em;
  }

  input {
    width: 100% !important;
  }

  #errors {
    background-color: $primary-color;
    padding: 1em;
    font-size: .9em;
    border-radius: 5px;

    ul {
      list-style-type: circle;
      list-style-position: inside;

      li {
        line-height: 1.2em;
        text-align: left;
      }

      span {
        font-weight: bold;
      }

      h4 {
        font-size: 1.5em !important;
        margin: 1em auto;
        font-weight: bold;
      }
    }
  }
