@import 'src/styles/index.scss';

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }

  .signup-wrapper {
    text-align: center;
    width: 60%;
    min-width: 300px;
    margin: 20px auto 0;
  }

  span {
    margin-top: 2em;
    margin-bottom: 1em !important;
  }

  button {
    margin: 2em auto!important;
  }
